[submodule "third-party/DirectX-Headers/include/DirectX-Headers"]
	path = third-party/DirectX-Headers/include/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers.git
[submodule "third-party/OpenXR-SDK"]
	path = third-party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
